<nav> 

<ul class='nav-links'> 

<li><a href="/">Home |</a></li> 

<li><a href="/generator">Restaurant Generator |</a></li> 
<li><a href="/explore">Explore Restaurants |</a></li> 
<li><a href="/help">Help! |</a></li> 


</ul> 

</nav> 