<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<title>Help!</title>
</head>

<h1>Help!</h1>
  
<body>
    <h2>Don't know where to eat tongiht?</h2>
    <p> Use this app to help you decide. It generates a random restaurant based on price and cuisine type filtering.</p>
    <h2>How to use the generator:</h2>
    <p>
        1. Select preferences -  price and cuisine
        <br>
        2. A restaurant will be generated for you to eat
    </p>
</body>
</html>
