<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<title>Welcome to Choose for Me Where to Eat!</title>
</head>

<h1>Welcome!</h1>
  <p>
    Use the above navigation bar to explore or generate a restaurant!
  
  This website is designed for the indecisive eaters in Los Angeles.
  There are so many delicious restaurants to choose from. To make it easier, this website provides 
  a generate option that gives you a place to eat!
  </p>

<div id="welcome" style="display: block"></div>
